# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Framework & build artifacts
*.framework
*.dSYM
*.xcarchive

# Testing
*.gcno
*.gcda
*.profraw
.xctest

# Logs & temp
*.log
*.tmp
*.swp
*.swo
*.orig

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace